/*Reset your CSS before you wreck your CSS.*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: monospace;
  color: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  box-sizing: inherit;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

/*SIDEBAR*/
.me-and-links {
  display: flex;
  flex-direction: column;
}

.me-and-links h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 2%;
}

.sidebar {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

/*Projects - General*/

#nine-to .front {
  background: url("./images/9-to_home.jpg");
  background-size: contain;
}

#front-2 .front {
  background: url("./images/cat-colonies.jpg");
  background-size: contain;
}

#front-3 .front {
  background: url("./images/rails-lite-2.jpg");
  background-size: contain;
}

.proj {
  width: 30em;
  height: 22.5em;
}

.back {
  text-align: center;
}

.back-description  {
  padding: 1em;
  font-size: 1.5em;
  text-align: left;
}

.tools {
  text-align: center;
  font-size: 1em;
}

.tools-list {
  margin: 0.5em 1em 4em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tools-list p {
  font-size: 0.6em;
  font-family: sans-serif;
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid white;
}

.have-a-look {
  border: 3px solid white;
  margin-top: 20px;
  padding: 1em 2em;
  text-align: center;
  display: inline;
  background: transparent;
  color: white;
}

h4 {
  margin-top: 5px;
  font-size: 2em;
  text-align: center;
}

/*Projects - Specific*/
#nine-to .back {
  background: #ff5a5f;
  color: white;
}

#cat-colonies .back {
  background: #003366;
  color: white;
}

#off-the-tracks .back {
  background: #cc0000;
  color: white;
}

.main {
  margin: 5em;
}

@media (min-width: 920px) {
  .main {
    display: flex;
    flex-direction: row;
  }

  .me-and-links {
    width: 18%;
  }

  .selected-things {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .selected-things div {
    margin: 0 2% 5% 2%;
  }
