
/*Defaults*/
body {
  font-family: 'Asap', sans-serif;
}

li {
  list-style-type: none;
  color: white;
}

h2 {
  font-size: 30em;
}

.btn {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 4px;
  color: white;
  border: white;
  border-style: solid;
  border-width: 2px;
  background: rgba(10,10,10,0.6);
  width: 180px;
}

.btn:hover {
  background-color: white;
  border-color: black;
}

.section-header {
  margin-top: 50px;
  font-size: 40px;
}

/*Navbar*/
.navbar-custom {
  background: black;
  border: none;
  color: black;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
  font-weight: bold;
}

/*above fold*/
.above-fold-header {
  background: rgba(184,184,184,0.75);
  width: 50%;
  min-height: 20%;
}

.aboveFold {
  background-image: url(http://img.thesun.co.uk/aidemitlum/archive/01085/Labrador_in-car_68_1085457a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.aboveFold .container {
  color: black;
  top: 36%;
  position: relative;
  text-align: center;
}

.aboveFold .container h1 {
  font-size: 50px;
  color: black;
}

/*Bio*/
.bio {
  height: 100vh;
  text-align: left;
  background-color: white;
  color: black;
  background-size: 16px 16px;
  font-size: 1.5em;
}

#profilePic {
  margin-top: 20%;
  width: 75%;
}

/*Projects*/
.projects {
  height: 100vh;
  background-image: url(http://i.space.com/images/i/000/015/590/wW4/atlas-launch-muos-1920.jpg?1330542179);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.projects img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.project-image-overlay {
  color: black;
  text-align: center;
  background-color: white;
  background-size: 16px 16px;
  max-width: 78%;
  margin-top: -30px;
  position: relative;
  margin-bottom: 10px;
  padding: 1px;
}

.project-image-overlay-header {
   margin-top: 10px;
}

.project-image-overlay-description {
   margin-top: -4px;
   font-style: italic;
}

.blog {
  height: 100vh;
  background-color: white;
  color: black;
}

/*Connect*/
.connect {
  height: 100vh;
  background-image: url('./images/post-box.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: fixed;
  color: white;
}

#connect-msg {
  margin-top: 20%;
  text-align: center;
  font-size: 6em;
}

.connect .row {
  text-align: right;
}

.btn-connect {
  margin: 5px;
}

/*Footer*/
footer {
  height: 150px;
}

#footerList {
  margin-top: 20px;
}

footer li a {
  color: white;
}
