/*Reset your CSS before you wreck your CSS.*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: monospace;
  color: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  box-sizing: inherit;
}

strong {
  font-weight: bold;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
}

/*a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  color: initial;
  border-radius: none;
  padding: 0.5em 1em;
  cursor: pointer;
}*/

.me-and-links {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.me-and-links h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 2%;
}

.sidebar {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

/*.selected-things {
  margin-left: 3%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}*/

.project-image {
  margin-left: 5%;
  padding-top: 7%;
  width: 90%;
  height: auto;
  min-height: 300px;
  margin-bottom: 40%;
}

.project-image h4 {
  margin-top: 2%;
  font-size: 2em;
  text-align: center;
}

.back {
  max-height: 800px;
  cursor: pointer;
}

.front {
  border-bottom: 1px solid #eee;
}

#nine-to {
  background: #ff5a5f;
}

#cat-colonies {
  background: #003366;
}

#off-the-tracks {
  background: red;
}

.back-text {
  color: white;
  margin: 10px;
}

.back-text p {
  font-size: 1em;
  margin-bottom: 1em;
}

@media (min-width: 920px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .me-and-links {
    width: 18%;
  }

  .selected-things {
    margin-left: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .project-image {
    width: 28%;
    margin: 0 2%;
    margin-bottom: 0;
    min-height: 100px;
  }

  .project-image p {
    font-size: 0.8em;
    margin-top: 0.4em;
  }

  .back {
    max-height: 270px;
    cursor: pointer;
  }
