body {
  font-family: "Open Sans", sans-serif;
  /*background-color: #eee;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size:60px 60px;
  color: blue;*/
}
h1 {
  font-family: acme;
  font-size: 60px
}
h2 {
  margin-top: -20px;
}
.confirm {
}
.icons {
  border: 5px;
  width: 140px;
  height: 100px;
  font-family: acme;
  font-size: 20px;
  margin: 30px;
  margin-top: 10px;
  text-align:center;
  background-color: lightgray;
}
.nav {
  /*for jQuery anim only*/
}
#topNav {
  text-align: center;
  background-color: #81F7F3;
  margin-top: -12px;
  margin-right: -20px;
  margin-left: -20px;
  height: 130px;
  padding-top: 30px;
}
#topNavSubHeader {
  font-family: acme;
  font-weight:lighter;
  margin-top:-90px;
  margin-bottom: 50px;
  text-align:center;
}
#instructionsHeader {
  display:none;
  font-family: acme;
  font-size: 28px;
}
.instructions {
  display:none;
  margin-left: 15px;
  font-size: 20px;
}
.fields {
  font-size: 20px;
  text-align: center;
}
#readyMessage {
  display:none;
  margin-top: -20px;
}
#playGame {
  display:none;
  font-family: acme;
  font-size: 30px;
  color: white;
  background-color: red;
  margin-top: -20px;
  width: 250px;
  height: 100px;
}
#reset {
  font-family: acme;
  color: white;
  background-color: red;
  border-color: gray;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -20px;
}
#currentNumberMessage {
  font-size: 50px;
  background-color: white;
  background-size: 50px 50px;
  border-color: red;
  margin-top: -10px;
  margin-bottom: 0px;
}
#currentNumber {
  font-family: acme;
  background-color:gray;
  color:white;
  padding-bottom: -3px;
  margin-bottom:-35px;
  text-align: center;
  border-radius:50%;
  height: 110px;
  width: 168px;
  font-size: 80px;
}
#nextNumberMessage{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#selectAnswer{
  font-style: italic;
  font-size: 20px;
  margin-top: -10px;
}
#nextNumberIcon {
  background-color: red;
}
#fizzIcon {
  background-color: yellow;
}
#buzzIcon {
  background-color: green;
}
#fizzBuzzIcon {
  background-color: blue;
}
.images {
}
#soda1 {
  float: left;
  width: 300px;
  margin-top: -400px;
  margin-left: 60px;
}
#bee1 {
  float: right;
  width: 220px;
  margin-top: -370px;
  margin-right: 70px;
}
